<div class="logo">
  <a class="us" href="https://www.instagram.com/about/us/">ABOUT US</a>
  <a class="us" href="https://help.instagram.com/" >SUPPORT</a>
  <a class="us" href="https://instagram-press.com/" >PRESS</a>
  <a class="us" href="https://www.instagram.com/developer/" >API</a>
  <a class="us" href="https://www.instagram.com/about/jobs/" >JOBS</a>
  <a class="us" href="https://help.instagram.com/519522125107875" >PRIVACY</a>
  <a class="us" href="https://help.instagram.com/581066165581870" >TERMS</a>
  <a class="us" href="https://www.instagram.com/explore/locations/" >DIRECTORY</a>
  <a class="us" href="https://www.instagram.com/directory/profiles/" >PROFILES</a>
  <a class="us" href="https://www.instagram.com/directory/hashtags/">HASHTAGS</a>

  <span class="DINPA">© 2018 Instagram</span>
</div>
