<div class="container">
  <div style="position: relative; left: 0; top: 0;">
    <img class="image1" src="../../assets/benjaminrobyn-jespersen-540757-unsplash.png" height="425" width="425"/>
    <img class="image2" src="../../assets/IMG_2033.jpg" height="225" width="225"/>
  </div>
    <div>
<fieldset>
   <img src="../../assets/instagram letter.png" class="letters">
  <h2 class="sign">Sign up to see photos and videos from your friends.</h2><br>
  <span class="Um91Z _1OSdk">
    <button (click)="login()">
      <img class="fb" src="../../assets/fb.png"/> Log in with Facebook
    </button>
</span><br>
  <div class="K-1uj hKTMS">
    <div class="s311c"></div>
    <div class="_0tv-g">OR</div>
    <div class="s311c"></div>
  </div>

  <input type="email" placeholder="Mobile Number or Email"
         pattern=".+@globex.com" size="35" required
         title="Must be a globex.com email address" />

  <input type="email" placeholder="Full Name"
         size="35" multiple
         title="Zero or more addresses, separated with ','" />

  <input type="email" placeholder="Username"
         size="35" multiple
         title="Zero or more addresses, separated with ','" />

  <input type="email" placeholder="Password"
         size="35" multiple
         title="Zero or more addresses, separated with ','" />
  <span class="Um91Z _1OSdk">

<button (click)="signup()" class="_5f5mN       jIbKX KUBKM      yZn4P   ">
  Sign up with Instagram
</button>
</span>

  <p class="g4Vm4">
    By signing up, you agree to our <br>
    <a target="_blank" href="https://help.instagram.com/581066165581870">Terms</a>
    ,
    <a target="_blank" href="https://help.instagram.com/519522125107875">Data Policy</a>
    and
    <a target="_blank" href="/legal/cookies/">Cookies<br> Policy</a>
    .
  </p><br>


</fieldset>
<div>
  <p class="login"> Have an account?<a href="https://www.instagram.com/accounts/login/"> Log in</a></p>
</div>
<p class="app">Get the app.</p>
  <a target="_blank" href="https://itunes.apple.com/app/instagram/id389801252?mt=8&ig_mid=W1ZaDgALAAF4sIk11IdlPenP4o_0"><img class="stores" src="../../assets/app store.png" /></a>
  <a target="_blank" href="https://play.google.com/store/apps/details?id=com.instagram.android&referrer=utm_source%3Dinstagramweb%26utm_campaign%3DsignupPage%26ig_mid%3DW1ZaDgALAAF4sIk11IdlPenP4o_0%26utm_medium%3Dbadge"><img class="stores" src="../../assets/google.png" /></a>
  <a target="_blank" href="https://www.microsoft.com/en-us/p/instagram/9nblggh5l9xt"><img class="stores" src="../../assets/microsoft.png" /></a>

</div>
</div>

